In [1]:
!pip install -r requirements.txt

Requirement already satisfied: matplotlib in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (3.3.4)
Requirement already satisfied: numpy in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.20.2)
Requirement already satisfied: pandas in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (1.2.4)
Requirement already satisfied: scipy in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (1.6.2)
Requirement already satisfied: seaborn in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 5)) (0.11.1)
Requirement already satisfied: jupyter-dash in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 6)) (0.4.0)
Requirement already satisfied: ipython in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 7)) (7.22.0)
Requirement already satisfied: missingno in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 8)) (0.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (3.0.17)
Requirement already satisfied: pexpect>4.3 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (5.0.5)
Requirement already satisfied: decorator in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (5.0.9)
Requirement already satisfied: jedi>=0.16 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (0.17.2)
Requirement already satisfied: backcall in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (0.2.0)
Requirement already satisfied: pygments in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (2.8.1)
Requirement already satisfied: setuptools>=18.5 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (52.0.0.post20210125)
Requirement already satisfied: appnope in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (0.1.2)
Requirement already satisfied: pickleshare in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipython->-r requirements.txt (line 7)) (0.7.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython->-r requirements.txt (line 7)) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython->-r requirements.txt (line 7)) (0.7.0)
Requirement already satisfied: wcwidth in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->-r requirements.txt (line 7)) (0.2.5)
Requirement already satisfied: ipython-genutils in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->ipython->-r requirements.txt (line 7)) (0.2.0)
Requirement already satisfied: flask in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-dash->-r requirements.txt (line 6)) (2.0.0)
Requirement already satisfied: dash in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-dash->-r requirements.txt (line 6)) (1.20.0)
Requirement already satisfied: ipykernel in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-dash->-r requirements.txt (line 6)) (5.3.4)
Requirement already satisfied: requests in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-dash->-r requirements.txt (line 6)) (2.25.1)
Requirement already satisfied: retrying in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-dash->-r requirements.txt (line 6)) (1.3.3)
Requirement already satisfied: ansi2html in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-dash->-r requirements.txt (line 6)) (1.6.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 1)) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 1)) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 1)) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: six in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 1)) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 3)) (2021.1)
Requirement already satisfied: future in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from dash->jupyter-dash->-r requirements.txt (line 6)) (0.18.2)
Requirement already satisfied: dash-core-components==1.16.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from dash->jupyter-dash->-r requirements.txt (line 6)) (1.16.0)
Requirement already satisfied: flask-compress in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from dash->jupyter-dash->-r requirements.txt (line 6)) (1.9.0)
Requirement already satisfied: dash-renderer==1.9.1 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from dash->jupyter-dash->-r requirements.txt (line 6)) (1.9.1)
Requirement already satisfied: dash-html-components==1.1.3 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from dash->jupyter-dash->-r requirements.txt (line 6)) (1.1.3)
Requirement already satisfied: dash-table==4.11.3 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from dash->jupyter-dash->-r requirements.txt (line 6)) (4.11.3)
Requirement already satisfied: plotly in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from dash->jupyter-dash->-r requirements.txt (line 6)) (4.14.3)
Requirement already satisfied: click>=7.1.2 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from flask->jupyter-dash->-r requirements.txt (line 6)) (8.0.0)
Requirement already satisfied: Werkzeug>=2.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from flask->jupyter-dash->-r requirements.txt (line 6)) (2.0.1)
Requirement already satisfied: Jinja2>=3.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from flask->jupyter-dash->-r requirements.txt (line 6)) (3.0.1)
Requirement already satisfied: itsdangerous>=2.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from flask->jupyter-dash->-r requirements.txt (line 6)) (2.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from Jinja2>=3.0->flask->jupyter-dash->-r requirements.txt (line 6)) (2.0.1)
Requirement already satisfied: brotli in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from flask-compress->dash->jupyter-dash->-r requirements.txt (line 6)) (1.0.9)
Requirement already satisfied: tornado>=4.2 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipykernel->jupyter-dash->-r requirements.txt (line 6)) (6.1)
Requirement already satisfied: jupyter-client in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from ipykernel->jupyter-dash->-r requirements.txt (line 6)) (6.1.12)
Requirement already satisfied: jupyter-core>=4.6.0 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel->jupyter-dash->-r requirements.txt (line 6)) (4.7.1)
Requirement already satisfied: pyzmq>=13 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel->jupyter-dash->-r requirements.txt (line 6)) (20.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from requests->jupyter-dash->-r requirements.txt (line 6)) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from requests->jupyter-dash->-r requirements.txt (line 6)) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from requests->jupyter-dash->-r requirements.txt (line 6)) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/adwoanyame/opt/anaconda3/lib/python3.8/site-packages (from requests->jupyter-dash->-r requirements.txt (line 6)) (2020.12.5)

In [2]:
# Load packages
import os
import pandas as pd
import numpy as np

In [3]:
%%time
df = pd.read_csv('data/ppp_loans.csv.gz', compression='gzip', low_memory=False)

CPU times: user 2min 38s, sys: 53.5 s, total: 3min 31s
Wall time: 3min 52s

In [4]:
#Drop the additional index
df = df.drop(columns="Unnamed: 0", axis=1)

In [5]:
df.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
0,5375617707,05/01/2020,101.0,PPP,NOT AVAILABLE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN
1,9677497701,05/01/2020,464.0,PPP,NORTH CHARLESTON HOSPITALITY GROUP LLC,192 College Park Rd,Ladson,NaN,29456-3517,NaN,...,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN
2,9547167709,05/01/2020,464.0,PPP,Q AND J SERVICES LLC,301 Old Georgetown Road,Manning,NaN,29102-2734,04/20/2021,...,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN
3,6448037706,05/01/2020,515.0,PPP,OPTIMIZED PROCESS SOLUTIONS DBA AAA INDUSTRIES,24500 CAPITOL,REDFORD,NaN,48239-2446,04/16/2021,...,NaN,NaN,Limited Liability Company(LLC),9551.0,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN
4,9609017706,05/01/2020,464.0,PPP,"D2 POWER SPORTS, LLC",125 Simuel Dr.,Spartanburg,NaN,29303-2085,NaN,...,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN

In [6]:
df.tail()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
10697214,4395967002,04/03/2020,897.0,PPP,"ROY E PAULSON, JR., P.C.",102 N. Kenwood,CASPER,WY,82601-2724,01/13/2021,...,NaN,NaN,Corporation,42366.0,Platte Valley Bank,TORRINGTON,WY,Male Owned,Non-Veteran,NaN
10697215,6985647108,04/14/2020,897.0,PPP,"SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...",1715 HITCHING POST DR,GREEN RIVER,WY,82935-5783,12/08/2020,...,NaN,NaN,Non-Profit Childcare Center,122813.0,NebraskaLand National Bank,NORTH PLATTE,NE,Unanswered,Unanswered,Y
10697216,7996438405,02/12/2021,897.0,PPS,ELECTRICAL SYSTEMS OF WYOMING INC,1105 Adon Rd,Rozet,WY,82727-8465,NaN,...,NaN,NaN,Subchapter S Corporation,77189.0,First National Bank of Gillette,GILLETTE,WY,Female Owned,Unanswered,NaN
10697217,9054647103,04/15/2020,897.0,PPP,EDEN LIFE CARE,30 N. Gould Street Suite 4000,SHERIDAN,WY,82801,NaN,...,NaN,NaN,Corporation,25901.0,Small Business Bank,LENEXA,KS,Unanswered,Unanswered,NaN
10697218,9184687004,04/09/2020,897.0,PPP,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025-0550,NaN,...,NaN,NaN,Subchapter S Corporation,77193.0,Bank of Jackson Hole,JACKSON,WY,Unanswered,Unanswered,NaN

In [7]:
#Verifying shape of data
df.shape

(10697219, 51)

In [8]:
%%time
#Dropping columns not needed
cols_to_drop = ['LoanNumber', 
                'SBAOfficeCode', 
                'ProcessingMethod', 
                'BorrowerName', 
                'BorrowerAddress', 
                'SBAGuarantyPercentage',
                'ServicingLenderLocationID', 
                'ServicingLenderAddress', 
               'OriginatingLenderLocationID'
                ]

df = df.drop(cols_to_drop, axis=1)

CPU times: user 2.07 s, sys: 1.53 s, total: 3.6 s
Wall time: 3.6 s

In [9]:
#Verifying col drop
df.shape

(10697219, 42)

In [10]:
%%time
#Turn DateApproved and LoanStatusDate to Datetime
df['DateApproved'] = pd.to_datetime(df['DateApproved'])
df['LoanStatusDate'] = pd.to_datetime(df['LoanStatusDate'])

CPU times: user 5.02 s, sys: 2.94 s, total: 7.97 s
Wall time: 8.63 s

In [11]:
df.dtypes

DateApproved                 datetime64[ns]
BorrowerCity                         object
BorrowerState                        object
BorrowerZip                          object
LoanStatusDate               datetime64[ns]
LoanStatus                           object
Term                                  int64
InitialApprovalAmount               float64
CurrentApprovalAmount               float64
UndisbursedAmount                   float64
FranchiseName                        object
ServicingLenderName                  object
ServicingLenderCity                  object
ServicingLenderState                 object
ServicingLenderZip                   object
RuralUrbanIndicator                  object
HubzoneIndicator                     object
LMIIndicator                         object
BusinessAgeDescription               object
ProjectCity                          object
ProjectCountyName                    object
ProjectState                         object
ProjectZip                           object
CD                                   object
JobsReported                        float64
NAICSCode                           float64
Race                                 object
Ethnicity                            object
UTILITIES_PROCEED                   float64
PAYROLL_PROCEED                     float64
MORTGAGE_INTEREST_PROCEED           float64
RENT_PROCEED                        float64
REFINANCE_EIDL_PROCEED              float64
HEALTH_CARE_PROCEED                 float64
DEBT_INTEREST_PROCEED               float64
BusinessType                         object
OriginatingLender                    object
OriginatingLenderCity                object
OriginatingLenderState               object
Gender                               object
Veteran                              object
NonProfit                            object
dtype: object

In [12]:
%%time
#Dict to store new value names  
rural_dict = {
    'R':'RURAL',
    'U':'URBAN'
}

hub_dict = {
    'Y':'YES',
    'N':'NO'
}

lmi_dict = {
    'Y':'YES',
    'N':'NO'
}

#Rename the values
df['RuralUrbanIndicator']=df['RuralUrbanIndicator'].replace(rural_dict)
df['HubzoneIndicator']=df['HubzoneIndicator'].replace(hub_dict)
df['LMIIndicator']=df['LMIIndicator'].replace(lmi_dict)

CPU times: user 3.38 s, sys: 294 ms, total: 3.67 s
Wall time: 3.71 s

In [13]:
#Verify new values
df['RuralUrbanIndicator']

0           URBAN
1           URBAN
2           URBAN
3           URBAN
4           URBAN
            ...
10697214    URBAN
10697215    URBAN
10697216    URBAN
10697217    RURAL
10697218    RURAL
Name: RuralUrbanIndicator, Length: 10697219, dtype: object

In [14]:
#Verify new values
df['HubzoneIndicator']

0            NO
1            NO
2           YES
3           YES
4            NO
           ...
10697214     NO
10697215     NO
10697216    YES
10697217     NO
10697218     NO
Name: HubzoneIndicator, Length: 10697219, dtype: object

In [15]:
#Verify new values
df['LMIIndicator']

0            NO
1            NO
2           YES
3            NO
4           YES
           ...
10697214     NO
10697215     NO
10697216     NO
10697217     NO
10697218     NO
Name: LMIIndicator, Length: 10697219, dtype: object

In [16]:
%%time
#Store columns in df
cols_to_uppercase = ['BorrowerCity',
                      'BorrowerState',
                      'LoanStatus',
                     'FranchiseName',
                     'ServicingLenderName',
                      'ServicingLenderCity',
                      'ServicingLenderState',
                       'RuralUrbanIndicator',
                      'HubzoneIndicator',
                      'LMIIndicator',
                     'BusinessAgeDescription',
                      'ProjectCity',
                      'ProjectCountyName',
                     'Race',
                     'Ethnicity',
                     'BusinessType',
                     'OriginatingLender',
                     'OriginatingLenderCity',
                     'OriginatingLenderState',
                     'Gender',
                     'Veteran',
                     'NonProfit']

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs

In [17]:
#Turn colums into string type
df[cols_to_uppercase] = df[cols_to_uppercase].astype(str)

In [18]:
#Verifying that type is str
type(df['BorrowerCity'][0])

str

In [19]:
%%time
#Uppercase strings in columns
df['BorrowerCity'] = df['BorrowerCity'].str.upper()
df['BorrowerState'] = df['BorrowerState'].str.upper()
df['LoanStatus'] = df['LoanStatus'].str.upper()
df['FranchiseName'] = df['FranchiseName'].str.upper()
df['ServicingLenderName'] = df['ServicingLenderName'].str.upper()
df['ServicingLenderCity'] = df['ServicingLenderCity'].str.upper()
df['ServicingLenderState'] = df['ServicingLenderState'].str.upper()
df['RuralUrbanIndicator'] = df['RuralUrbanIndicator'].str.upper()
df['HubzoneIndicator'] = df['HubzoneIndicator'].str.upper()
df['LMIIndicator'] = df['LMIIndicator'].str.upper()
df['BusinessAgeDescription'] = df['BusinessAgeDescription'].str.upper()
df['ProjectCity'] = df['ProjectCity'].str.upper()
df['ProjectCountyName'] = df['ProjectCountyName'].str.upper()
df['Race'] = df['Race'].str.upper()
df['Ethnicity'] = df['Ethnicity'].str.upper()
df['BusinessType'] = df['BusinessType'].str.upper()
df['OriginatingLender'] = df['OriginatingLender'].str.upper()
df['OriginatingLenderCity'] = df['OriginatingLenderCity'].str.upper()
df['OriginatingLenderState'] = df['OriginatingLenderState'].str.upper()
df['Gender'] = df['Gender'].str.upper()
df['Veteran'] = df['Veteran'].str.upper()
df['NonProfit'] = df['NonProfit'].str.upper()

CPU times: user 1min 37s, sys: 13.1 s, total: 1min 50s
Wall time: 1min 54s

In [20]:
#Verify the uppercase of values
df.head(5)

,DateApproved,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,...,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
0,2020-05-01,NAN,NAN,NaN,NaT,EXEMPTION 4,24,148440.00,148440.00,0.0,...,NaN,NaN,NaN,NAN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,UNANSWERED,UNANSWERED,NAN
1,2020-05-01,LADSON,NAN,29456-3517,NaT,EXEMPTION 4,24,140081.78,140081.78,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NAN
2,2020-05-01,MANNING,NAN,29102-2734,2021-04-20,PAID IN FULL,24,136520.96,136520.96,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NAN
3,2020-05-01,REDFORD,NAN,48239-2446,2021-04-16,PAID IN FULL,24,126798.00,126798.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,MALE OWNED,NON-VETERAN,NAN
4,2020-05-01,SPARTANBURG,NAN,29303-2085,NaT,EXEMPTION 4,24,125916.00,125916.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NAN

In [21]:
%%time
#Turn str 'NAN' into NaN
df['BorrowerCity'] = df['BorrowerCity'].replace(['NAN'], np.nan)
df['BorrowerState'] = df['BorrowerState'].replace(['NAN'], np.nan)
df['LoanStatus'] = df['LoanStatus'].replace(['NAN'], np.nan)
df['FranchiseName'] = df['FranchiseName'].replace(['NAN'], np.nan)
df['ServicingLenderName'] = df['ServicingLenderName'].replace(['NAN'], np.nan)
df['ServicingLenderCity'] = df['ServicingLenderCity'].replace(['NAN'], np.nan)
df['ServicingLenderState'] = df['ServicingLenderState'].replace(['NAN'], np.nan)
df['RuralUrbanIndicator'] = df['RuralUrbanIndicator'].replace(['NAN'], np.nan)
df['HubzoneIndicator'] = df['HubzoneIndicator'].replace(['NAN'], np.nan)
df['LMIIndicator'] = df['LMIIndicator'].replace(['NAN'], np.nan)
df['BusinessAgeDescription'] = df['BusinessAgeDescription'].replace(['NAN'], np.nan)
df['ProjectCity'] = df['ProjectCity'].replace(['NAN'], np.nan)
df['ProjectCountyName'] = df['ProjectCountyName'].replace(['NAN'], np.nan)
df['Race'] = df['Race'].replace(['NAN'], np.nan)
df['Ethnicity'] = df['Ethnicity'].replace(['NAN'], np.nan)
df['BusinessType'] = df['BusinessType'].replace(['NAN'], np.nan)
df['OriginatingLender'] = df['OriginatingLender'].replace(['NAN'], np.nan)
df['OriginatingLenderCity'] = df['OriginatingLenderCity'].replace(['NAN'], np.nan)
df['OriginatingLenderState'] = df['OriginatingLenderState'].replace(['NAN'], np.nan)
df['Gender'] = df['Gender'].replace(['NAN'], np.nan)
df['Veteran'] = df['Veteran'].replace(['NAN'], np.nan)
df['NonProfit'] = df['NonProfit'].replace(['NAN'], np.nan)

CPU times: user 44 s, sys: 37.4 s, total: 1min 21s
Wall time: 1min 40s

In [22]:
#Verifying the replace to 
df.head(5)

,DateApproved,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,...,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
0,2020-05-01,NaN,NaN,NaN,NaT,EXEMPTION 4,24,148440.00,148440.00,0.0,...,NaN,NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,UNANSWERED,UNANSWERED,NaN
1,2020-05-01,LADSON,NaN,29456-3517,NaT,EXEMPTION 4,24,140081.78,140081.78,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NaN
2,2020-05-01,MANNING,NaN,29102-2734,2021-04-20,PAID IN FULL,24,136520.96,136520.96,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NaN
3,2020-05-01,REDFORD,NaN,48239-2446,2021-04-16,PAID IN FULL,24,126798.00,126798.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,MALE OWNED,NON-VETERAN,NaN
4,2020-05-01,SPARTANBURG,NaN,29303-2085,NaT,EXEMPTION 4,24,125916.00,125916.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NaN

In [23]:
%%time
#Standarize Columns names 
df = df.rename(columns={'UTILITIES_PROCEED': 'UtilitiesProceed',
                        'PAYROLL_PROCEED':'PayrollProceed',
                        'MORTGAGE_INTEREST_PROCEED':'MortgageIntProceed',
                        'RENT_PROCEED':'RentProceed',
                        'REFINANCE_EIDL_PROCEED':'RefinanceEidlProceed',
                        'HEALTH_CARE_PROCEED':'HealthcareProceed',
                        'DEBT_INTEREST_PROCEED':'DebtIntProceed'
                       })

CPU times: user 6.61 s, sys: 34.2 s, total: 40.8 s
Wall time: 58.4 s

In [24]:
df.head(5)

,DateApproved,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,...,RefinanceEidlProceed,HealthcareProceed,DebtIntProceed,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
0,2020-05-01,NaN,NaN,NaN,NaT,EXEMPTION 4,24,148440.00,148440.00,0.0,...,NaN,NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,UNANSWERED,UNANSWERED,NaN
1,2020-05-01,LADSON,NaN,29456-3517,NaT,EXEMPTION 4,24,140081.78,140081.78,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NaN
2,2020-05-01,MANNING,NaN,29102-2734,2021-04-20,PAID IN FULL,24,136520.96,136520.96,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NaN
3,2020-05-01,REDFORD,NaN,48239-2446,2021-04-16,PAID IN FULL,24,126798.00,126798.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,MALE OWNED,NON-VETERAN,NaN
4,2020-05-01,SPARTANBURG,NaN,29303-2085,NaT,EXEMPTION 4,24,125916.00,125916.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NaN

In [25]:
%%time
df[df=='UNANSWERED'].count()

CPU times: user 50 s, sys: 1min 40s, total: 2min 30s
Wall time: 3min 25s

DateApproved                    0
BorrowerCity                    0
BorrowerState                   0
BorrowerZip                     0
LoanStatusDate                  0
LoanStatus                      0
Term                            0
InitialApprovalAmount           0
CurrentApprovalAmount           0
UndisbursedAmount               0
FranchiseName                   0
ServicingLenderName             0
ServicingLenderCity             0
ServicingLenderState            0
ServicingLenderZip              0
RuralUrbanIndicator             0
HubzoneIndicator                0
LMIIndicator                    0
BusinessAgeDescription     531496
ProjectCity                     0
ProjectCountyName               0
ProjectState                    0
ProjectZip                      0
CD                              0
JobsReported                    0
NAICSCode                       0
Race                      8257211
Ethnicity                       0
UtilitiesProceed                0
PayrollProceed                  0
MortgageIntProceed              0
RentProceed                     0
RefinanceEidlProceed            0
HealthcareProceed               0
DebtIntProceed                  0
BusinessType                    0
OriginatingLender               0
OriginatingLenderCity           0
OriginatingLenderState          0
Gender                    6716153
Veteran                   7378981
NonProfit                       0
dtype: int64

In [26]:
%%time
#Replace 'UNANSWERED' with NaN 
df['BusinessAgeDescription'] = df['BusinessAgeDescription'].replace(['UNANSWERED'], np.nan)
df['Race'] = df['Race'].replace(['UNANSWERED'], np.nan)
df['Gender'] = df['Gender'].replace(['UNANSWERED'], np.nan)
df['Veteran'] = df['Veteran'].replace(['UNANSWERED'], np.nan)

CPU times: user 6.83 s, sys: 2.48 s, total: 9.31 s
Wall time: 10.9 s

In [27]:
#Verify that NaN was used
df.head(5)

,DateApproved,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,...,RefinanceEidlProceed,HealthcareProceed,DebtIntProceed,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
0,2020-05-01,NaN,NaN,NaN,NaT,EXEMPTION 4,24,148440.00,148440.00,0.0,...,NaN,NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,NaN,NaN,NaN
1,2020-05-01,LADSON,NaN,29456-3517,NaT,EXEMPTION 4,24,140081.78,140081.78,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN
2,2020-05-01,MANNING,NaN,29102-2734,2021-04-20,PAID IN FULL,24,136520.96,136520.96,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN
3,2020-05-01,REDFORD,NaN,48239-2446,2021-04-16,PAID IN FULL,24,126798.00,126798.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,MALE OWNED,NON-VETERAN,NaN
4,2020-05-01,SPARTANBURG,NaN,29303-2085,NaT,EXEMPTION 4,24,125916.00,125916.00,0.0,...,NaN,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN

In [28]:
#Replace 'UNKNOWN/NOTSTATED' with NaN 
df['Ethnicity'] = df['Ethnicity'].replace(['UNKNOWN/NOTSTATED'], np.nan)

In [29]:
df['Ethnicity']

0                              NaN
1                              NaN
2                              NaN
3           NOT HISPANIC OR LATINO
4                              NaN
                     ...
10697214    NOT HISPANIC OR LATINO
10697215                       NaN
10697216                       NaN
10697217                       NaN
10697218                       NaN
Name: Ethnicity, Length: 10697219, dtype: object

In [30]:
#Checking the values of BusinessType
df['BusinessType'].value_counts()

SOLE PROPRIETORSHIP                    3031152
LIMITED  LIABILITY COMPANY(LLC)        2331948
CORPORATION                            2279173
SUBCHAPTER S CORPORATION               1063152
SELF-EMPLOYED INDIVIDUALS               774170
INDEPENDENT CONTRACTORS                 670057
NON-PROFIT ORGANIZATION                 242739
PARTNERSHIP                             117161
LIMITED LIABILITY PARTNERSHIP            58754
SINGLE MEMBER LLC                        46891
PROFESSIONAL ASSOCIATION                 42017
501(C)3 – NON PROFIT                     11687
COOPERATIVE                               9257
501(C)6 – NON PROFIT MEMBERSHIP           5075
NON-PROFIT CHILDCARE CENTER               3920
TRUST                                     2445
JOINT VENTURE                             1610
EMPLOYEE STOCK OWNERSHIP PLAN(ESOP)       1108
QUALIFIED JOINT-VENTURE (SPOUSES)          807
TENANT IN COMMON                           662
HOUSING CO-OP                              571
501(C)19 – NON PROFIT VETERANS             309
TRIBAL CONCERNS                            118
ROLLOVER AS BUSINESS START-UPS (ROB         38
501(C) – NON PROFIT EXCEPT 3,4,6,           27
Name: BusinessType, dtype: int64

In [31]:
#Standarize Nonprofit in Column 'BusinessType'
df['BusinessType'] = df['BusinessType'].replace(to_replace=['NON-PROFIT ORGANIZATION', 
                                                            '501(C)3 – NON PROFIT',
                                                            '501(C)6 – NON PROFIT MEMBERSHIP',
                                                            'NON-PROFIT CHILDCARE CENTER',
                                                            '501(C)19 – NON PROFIT VETERANS',
                                                            '501(C) – NON PROFIT EXCEPT 3,4,6,'], 
                                                value='NON-PROFIT')

In [32]:
#Verify combining NP into one
df['BusinessType'].value_counts()

SOLE PROPRIETORSHIP                    3031152
LIMITED  LIABILITY COMPANY(LLC)        2331948
CORPORATION                            2279173
SUBCHAPTER S CORPORATION               1063152
SELF-EMPLOYED INDIVIDUALS               774170
INDEPENDENT CONTRACTORS                 670057
NON-PROFIT                              263757
PARTNERSHIP                             117161
LIMITED LIABILITY PARTNERSHIP            58754
SINGLE MEMBER LLC                        46891
PROFESSIONAL ASSOCIATION                 42017
COOPERATIVE                               9257
TRUST                                     2445
JOINT VENTURE                             1610
EMPLOYEE STOCK OWNERSHIP PLAN(ESOP)       1108
QUALIFIED JOINT-VENTURE (SPOUSES)          807
TENANT IN COMMON                           662
HOUSING CO-OP                              571
TRIBAL CONCERNS                            118
ROLLOVER AS BUSINESS START-UPS (ROB         38
Name: BusinessType, dtype: int64

In [33]:
#Look at NACIS Values
df['NAICSCode']

0           339114.0
1                NaN
2           541990.0
3                NaN
4           999990.0
              ...
10697214    621210.0
10697215    624410.0
10697216    238210.0
10697217    621610.0
10697218    722511.0
Name: NAICSCode, Length: 10697219, dtype: float64

In [34]:
naics_codes = pd.read_csv('data/2017_NAICS_Codes.csv')

In [35]:
naics_codes.head()

   2017 NAICS Code                   2017 NAICS Title
0              NaN                                NaN
1         111110.0                    SOYBEAN FARMING
2         111120.0  OILSEED (EXCEPT SOYBEAN) FARMING
3         111130.0          DRY PEA AND BEAN FARMING
4         111140.0                      WHEAT FARMING

In [36]:
naics_codes.tail()

      2017 NAICS Code                                   2017 NAICS Title
1054         926150.0  REGULATION, LICENSING, AND INSPECTION OF MISCE...
1055         927110.0                     SPACE RESEARCH AND TECHNOLOGY
1056         928110.0                                 NATIONAL SECURITY
1057         928120.0                             INTERNATIONAL AFFAIRS
1058         999990.0                        UNCLASSIFIED ESTABLISHMENTS

In [38]:
naics_codes.shape

(1059, 2)

In [42]:
#Drop NaN Values
naics_codes = naics_codes.dropna()

In [43]:
naics_codes.shape

(1058, 2)

In [44]:
%%time
merged_df = pd.merge(left=df, right=naics_codes, how='left', left_on='NAICSCode', right_on='2017 NAICS Code')

CPU times: user 1min 11s, sys: 5min 6s, total: 6min 18s
Wall time: 8min 53s

In [45]:
merged_df.head()

,DateApproved,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,...,DebtIntProceed,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,2017 NAICS Code,2017 NAICS Title
0,2020-05-01,NaN,NaN,NaN,NaT,EXEMPTION 4,24,148440.00,148440.00,0.0,...,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,NaN,NaN,NaN,339114.0,DENTAL EQUIPMENT AND SUPPLIES MANUFACTURING
1,2020-05-01,LADSON,NaN,29456-3517,NaT,EXEMPTION 4,24,140081.78,140081.78,0.0,...,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,NaN,NaN
2,2020-05-01,MANNING,NaN,29102-2734,2021-04-20,PAID IN FULL,24,136520.96,136520.96,0.0,...,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,541990.0,"ALL OTHER PROFESSIONAL, SCIENTIFIC, AND TECHNI..."
3,2020-05-01,REDFORD,NaN,48239-2446,2021-04-16,PAID IN FULL,24,126798.00,126798.00,0.0,...,NaN,LIMITED LIABILITY COMPANY(LLC),"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,MALE OWNED,NON-VETERAN,NaN,NaN,NaN
4,2020-05-01,SPARTANBURG,NaN,29303-2085,NaT,EXEMPTION 4,24,125916.00,125916.00,0.0,...,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,999990.0,UNCLASSIFIED ESTABLISHMENTS

In [46]:
#Dropping Cols with NAICS Code
cols = ['2017 NAICS Code', 'NAICSCode']

merged_df = merged_df.drop(cols, axis=1)

In [47]:
merged_df.head()

,DateApproved,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,...,HealthcareProceed,DebtIntProceed,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,2017 NAICS Title
0,2020-05-01,NaN,NaN,NaN,NaT,EXEMPTION 4,24,148440.00,148440.00,0.0,...,NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,NaN,NaN,NaN,DENTAL EQUIPMENT AND SUPPLIES MANUFACTURING
1,2020-05-01,LADSON,NaN,29456-3517,NaT,EXEMPTION 4,24,140081.78,140081.78,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,NaN
2,2020-05-01,MANNING,NaN,29102-2734,2021-04-20,PAID IN FULL,24,136520.96,136520.96,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,"ALL OTHER PROFESSIONAL, SCIENTIFIC, AND TECHNI..."
3,2020-05-01,REDFORD,NaN,48239-2446,2021-04-16,PAID IN FULL,24,126798.00,126798.00,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,MALE OWNED,NON-VETERAN,NaN,NaN
4,2020-05-01,SPARTANBURG,NaN,29303-2085,NaT,EXEMPTION 4,24,125916.00,125916.00,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,UNCLASSIFIED ESTABLISHMENTS

In [48]:
#Rename NAICS to Industry 
merged_df = merged_df.rename(columns={'2017 NAICS Title':'Industry'})

In [49]:
merged_df.head()

,DateApproved,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,...,HealthcareProceed,DebtIntProceed,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,Industry
0,2020-05-01,NaN,NaN,NaN,NaT,EXEMPTION 4,24,148440.00,148440.00,0.0,...,NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,NaN,NaN,NaN,DENTAL EQUIPMENT AND SUPPLIES MANUFACTURING
1,2020-05-01,LADSON,NaN,29456-3517,NaT,EXEMPTION 4,24,140081.78,140081.78,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,NaN
2,2020-05-01,MANNING,NaN,29102-2734,2021-04-20,PAID IN FULL,24,136520.96,136520.96,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,"ALL OTHER PROFESSIONAL, SCIENTIFIC, AND TECHNI..."
3,2020-05-01,REDFORD,NaN,48239-2446,2021-04-16,PAID IN FULL,24,126798.00,126798.00,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,MALE OWNED,NON-VETERAN,NaN,NaN
4,2020-05-01,SPARTANBURG,NaN,29303-2085,NaT,EXEMPTION 4,24,125916.00,125916.00,0.0,...,NaN,NaN,LIMITED LIABILITY COMPANY(LLC),SYNOVUS BANK,COLUMBUS,GA,NaN,NaN,NaN,UNCLASSIFIED ESTABLISHMENTS

In [52]:
#Output Cleaned File
merged_df.to_csv('cleaned_ppp_data.csv.gz', compression='gzip', index=False)