# Team 68 Data Exploration

## Adwoa's method

In [ ]:
# Load packages
import os
import pandas as pd
import numpy as np

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Advanced plotting functionality with seaborn
import seaborn as sns

with open('data/public_up_to_150k_1.csv') as f:
    public_150k_1=pd.read_csv(f, delimiter=';')
    
chunksize = 10 ** 8
for chunk in pd.read_csv('data/public_up_to_150k_1.csv', chunksize=chunksize):
    process(chunk)

In [ ]:
%%time
#Reading public_up_to_150k_1 csv file
row_count = 1000
for chunk in pd.read_csv('public_up_to_150k_1.csv', chunksize=row_count): 
    df_1 = chunk # process it

In [ ]:
df_1.shape

In [ ]:
df = pd.read_csv('public_up_to_150k_1.csv')

There are 11 csv files to iterate through, plus the first with an irregular name.

In [ ]:
%%time
#Reading public_150k_plus csv file
row_count = 1000
for chunk in pd.read_csv('data/public_150k_plus.csv', chunksize=row_count): 
    df_12 = chunk # process it

In [ ]:
df_12.head(5)

In [ ]:
#Adding all the dataframes into list
frames = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12]

In [ ]:
#Using concat to merge all dataframe into one
df = pd.concat(frames)

## Or Darnell's method

In [ ]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np 
import sqlite3
from sqlalchemy import create_engine

In [ ]:
print(pd.read_csv('ppploans.csv', nrows=2))

In [ ]:
csv_database = create_engine('sqlite:///csv_database.db')

In [ ]:
csz = 1000000
i = 0 
j = 0

Not sure why it keeps looping here, it returns more index values than it should.

In [ ]:
for df in pd.read_csv('ppploans.csv', chunksize = csz, iterator=True): 
    df = df.rename(columns = {c: c.replace('', '') for c in df.columns})
    df.index += j 
    
    df.to_sql('data_use', csv_database, if_exists = 'append')
    j = df.index[-1]+1
    
    print('| index: {}'.format(j))

In [ ]:
df = pd.read_sql_query ('SELECT * FROM data_use', csv_database)

## Richard's Method

### Chunk size for loop iteration into a single df from a merged csv

In [1]:
# Load packages
import os
import pandas as pd
import numpy as np

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Advanced plotting functionality with seaborn
import seaborn as sns

### Reading the aggregated file in chunks

In [ ]:
df_list = []
row_count = 1000000
df = pd.read_csv('ppploans.csv', chunksize=row_count)
for x in df:
    #df_filter = chunk_preprocessing(x)
    df_list.append(x)
df_concat = pd.concat(df_list)

In [ ]:
df_concat.shape

### Reading each of the files as they are saved from the PPP website

In [2]:
%%time
df1 = pd.read_csv('public_150k_plus.csv')

CPU times: user 5.01 s, sys: 382 ms, total: 5.39 s
Wall time: 5.39 s

In [3]:
%%time
vol = ['_1','_2','_3','_4','_5','_6','_7','_8','_9','_10','_11']

vol_list = []
for x in vol:
    a= pd.read_csv(f'public_up_to_150k{x}.csv', low_memory= 0)
    vol_list.append(a)

df2 = pd.concat(vol_list , ignore_index = 1)

CPU times: user 1min 17s, sys: 11.4 s, total: 1min 28s
Wall time: 1min 31s

In [4]:
%%time
df_concat1 = pd.concat([df1,df2])
df_concat1.shape

CPU times: user 8.9 s, sys: 8.27 s, total: 17.2 s
Wall time: 29.4 s

(10697219, 51)

In [ ]:
df_concat1.head()

This will tell you a few key columns and what some of the unique values are.

In [ ]:
df_c = df_concat1
b = list(df_c)
l = [3,6,7,8,10,11,12,13,14,16,18,23,33,34,35,36,37,38,39,40,41,42,43,48,49,50]

In [ ]:
for x in l:
    print(b[x])
    print(df_c[b[x]].unique())

In [ ]:
cols = ['LoanStatus',
 'Term',
 'SBAGuarantyPercentage',
 'InitialApprovalAmount',
 'CurrentApprovalAmount',
 'UndisbursedAmount','ServicingLenderName',
       'RuralUrbanIndicator','Race',
 'Ethnicity','BusinessType','Gender',
 'Veteran',
 'NonProfit']

In [ ]:
%%time
for x in l:
    print(b[x])
    print(df_c[b[x]].value_counts())

In [ ]:
for x in l:
    print(b[x])

In [ ]:
l1 = [3,6,7,10,11,12,16,18,23,33,34,35,36,37,38,39,40,41,42,43,48,49,50]
#for x in l1:
#    print(b[x])

In [ ]:
%%time
for x in l:
    plt.title(b[x])
    df_c[b[x]].value_counts().plot.bar()

In [ ]:
plt.title(b[48])
df_c[b[48]].value_counts().plot.bar()

In [6]:
%%time
#Turn DateApproved and LoanStatusDate to Datetime
df_c == df_concat1
df_c['DateApproved'] = pd.to_datetime(df_c['DateApproved'])
df_c['LoanStatusDate'] = pd.to_datetime(df_c['LoanStatusDate'])

CPU times: user 17.5 s, sys: 3.57 s, total: 21.1 s
Wall time: 21.5 s

In [7]:
%%time
# Store columns in a list
cols_to_uppercase = ['BorrowerCity',
                      'BorrowerState',
                      'LoanStatus',
                     'FranchiseName',
                     'ServicingLenderName',
                      'ServicingLenderCity',
                      'ServicingLenderState',
                       'RuralUrbanIndicator',
                      'HubzoneIndicator',
                      'LMIIndicator',
                     'BusinessAgeDescription',
                      'ProjectCity',
                      'ProjectCountyName',
                     'Race',
                     'Ethnicity',
                     'BusinessType',
                     'OriginatingLender',
                     'OriginatingLenderCity',
                     'OriginatingLenderState',
                     'Gender',
                     'Veteran',
                     'NonProfit']

#Turn colums into string type
for c in cols_to_uppercase:
    df_c[c] = df_c[c].astype(str)

#Uppercase strings in columns

#for c in cols_to_uppercase:
for b in cols_to_uppercase:
    df_c[b] = df_c[b].str.upper()

CPU times: user 56.7 s, sys: 9.25 s, total: 1min 5s
Wall time: 1min 9s

In [8]:
#Change NAICS Code to string
df_c['NAICSCode'] = df_c['NAICSCode'].astype(str)
#Remove the ".0" from NAICS
df_c['NAICSCode'] = df_c['NAICSCode'].str.slice(0, -2)
df_c['NAICSCode'].head()

0    325510
1    561730
2         n
3    236115
4    484210
Name: NAICSCode, dtype: object

In [9]:
#Reading NAICS csv file and turning into dict
naics_dict = pd.read_csv('PPProject/Main/PPProject/2017_NAICS_Codes.csv'
                         , header=None, index_col=0, squeeze=True)#.to_dict()
#Look at the NAICS dict
naics_dict.head()

0
2017 NAICS Code                     2017 NAICS Title
NaN                                              NaN
111110                               SOYBEAN FARMING
111120             OILSEED (EXCEPT SOYBEAN) FARMING
111130                     DRY PEA AND BEAN FARMING
Name: 1, dtype: object

In [ ]:
%%time
df_c['NAICSCode'] = df_c['NAICSCode'].replace(naics_dict)

In [16]:
n_d = naics_dict.to_frame().reset_index()
n_d.columns = n_d.iloc[0]
n_d = n_d[1:]
n_d['2017 NAICS Code'] = n_d['2017 NAICS Code'].astype('float64')
n_d.head()

0  2017 NAICS Code                   2017 NAICS Title
1              NaN                                NaN
2         111110.0                    SOYBEAN FARMING
3         111120.0  OILSEED (EXCEPT SOYBEAN) FARMING
4         111130.0          DRY PEA AND BEAN FARMING
5         111140.0                      WHEAT FARMING

In [17]:
%%time 
df_c1 = df_concat1
df_c1['NAICSCode'] = df_c1['NAICSCode'].replace('n',0).astype('float64')
df_c1['DateApproved'] = pd.to_datetime(df_c1['DateApproved'])
df_c1['LoanStatusDate'] = pd.to_datetime(df_c1['LoanStatusDate'])
result = pd.merge(df_c1,n_d, how = 'left', left_on = 'NAICSCode', right_on = '2017 NAICS Code')

CPU times: user 7.67 s, sys: 11.8 s, total: 19.4 s
Wall time: 45.3 s

In [18]:
result.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,2017 NAICS Code,2017 NAICS Title
0,9547507704,2020-05-01,464.0,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,SUMTER,NAN,29150-9662,2020-12-18,...,CORPORATION,19248.0,SYNOVUS BANK,COLUMBUS,GA,UNANSWERED,UNANSWERED,NAN,325510.0,PAINT AND COATING MANUFACTURING
1,9777677704,2020-05-01,464.0,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,NORTH CHARLESTON,NAN,29420-9000,NaT,...,SOLE PROPRIETORSHIP,19248.0,SYNOVUS BANK,COLUMBUS,GA,MALE OWNED,NON-VETERAN,NAN,561730.0,LANDSCAPING SERVICES
2,5791407702,2020-05-01,1013.0,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NAN,98112-2922,2021-03-17,...,NON-PROFIT ORGANIZATION,9551.0,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,UNANSWERED,UNANSWERED,Y,NaN,NaN
3,6223567700,2020-05-01,920.0,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NAN,92407-1740,NaT,...,CORPORATION,9551.0,"BANK OF AMERICA, NATIONAL ASSOCIATION",CHARLOTTE,NC,UNANSWERED,UNANSWERED,NAN,236115.0,NEW SINGLE-FAMILY HOUSING CONSTRUCTION (EXCEPT...
4,9662437702,2020-05-01,101.0,PPP,AERO BOX LLC,NaN,NAN,NAN,NaN,NaT,...,NAN,57328.0,THE HUNTINGTON NATIONAL BANK,COLUMBUS,OH,UNANSWERED,UNANSWERED,NAN,484210.0,USED HOUSEHOLD AND OFFICE GOODS MOVING