# Team 68 Data Exploration

### Adwoa's method

In [ ]:
# Load packages
import os
import pandas as pd
import numpy as np

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Advanced plotting functionality with seaborn
import seaborn as sns

with open('data/public_up_to_150k_1.csv') as f:
    public_150k_1=pd.read_csv(f, delimiter=';')
    
chunksize = 10 ** 8
for chunk in pd.read_csv('data/public_up_to_150k_1.csv', chunksize=chunksize):
    process(chunk)

In [ ]:
%%time
#Reading public_up_to_150k_1 csv file
row_count = 1000
for chunk in pd.read_csv('public_up_to_150k_1.csv', chunksize=row_count): 
    df_1 = chunk # process it

In [ ]:
df_1.head()

In [ ]:
df = pd.read_csv('public_up_to_150k_1.csv')

There are 11 csv files to iterate through, plus the first with an irregular name.

In [ ]:
%%time
#Reading public_150k_plus csv file
row_count = 1000
for chunk in pd.read_csv('data/public_150k_plus.csv', chunksize=row_count): 
    df_12 = chunk # process it

In [ ]:
df_12.head(5)

In [ ]:
#Adding all the dataframes into list
frames = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12]

In [ ]:
#Using concat to merge all dataframe into one
df = pd.concat(frames)

### Or Darnell's method

In [ ]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np 
import sqlite3
from sqlalchemy import create_engine

In [ ]:
print(pd.read_csv('ppploans.csv', nrows=2))

In [ ]:
csv_database = create_engine('sqlite:///csv_database.db')

In [ ]:
csz = 100000
i = 0 
j = 0

Not sure why it keeps looping here, it returns more index values than it should.

In [ ]:
for df in pd.read_csv('ppploans.csv', chunksize = csz, iterator=True): 
    df = df.rename(columns = {c: c.replace('', '') for c in df.columns})
    df.index += j 
    
    df.to_sql('data_use', csv_database, if_exists = 'append')
    j = df.index[-1]+1
    
    print('| index: {}'.format(j))

In [ ]:
df = pd.read_sql_query ('SELECT * FROM data_use', csv_database)